#the-comment-list .comment-item blockquote .excerpt-full p { display:block; margin:0 0 1em; } /* pre-WP3.8 */
#latest-comments #the-comment-list .comment-item blockquote .excerpt-full p { display:block; margin:0 0 1em; }
.c2c_edrc { display:block; }
.c2c_edrc_all { display:none; }